@{
    ViewData["Title"] = "StockChecker";
}

@model StockIndicator.Web.Models.StockCheckerModel


<head>
    <meta http-equiv="refresh" content="@Html.DisplayFor(model => model.SleepTime)" />

</head>

<body>
    <h2>@Html.DisplayFor(model => model.Message)</h2>
    <h4>Checking URL: @Html.DisplayFor(model => model.URL)</h4>

    <form method="post">
        Timer <input asp-for="SleepTime" />
        <br />
        URL <input asp-for="URL" />
        <br />
        <input type="submit" OnClick="" />
    </form>
</body>

<h1>Counter</h1>

<script type="text/javascript">
    let counter = 1;
    setInterval(() => {
        document.querySelector('h1').innerText = counter;
        counter++;
    }, 1000);
</script>